@charset "UTF-8";
/******************************************************************************
Faculdade de Tecnologia de Franca “Doutor Thomaz Novelino”
PRIMEIRO PROJETO DE TÓPICOS ESPECIAIS EM INFORMÁTICA - 2016/1
Autor(es):
Luiz Pedro <luizpedro57@gmail.com> - RGM 1090481321026
Samuel Silva <samgsilva.1985@gmail.com> - RGM 1090481321036
******************************************************************************/



@font-face {
    font-family: 'Fonte Títulos';
    src: url('../_fontes/DINMedium.ttf');
}
body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12pt;
    padding: 0;
    margin: 0 5vw;
}

ul, ol {
    list-style-position: inside;
}

header {
    background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
    position: relative;
    margin: 0 -5vw;
    padding-left: 15px;
}


#logo-principal {
    width: 30%;
    min-width: 200px;
    max-width: 350px;
}

#logo-secundario {
    width: 30%;
    max-width: 300px;
    min-width: 180px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#menu-principal {
    background-color: rgb(74, 85, 92);
    margin: 0 -5vw;
}

#menu-principal ul {
    list-style-type: none;
    overflow: auto;
    margin: 0;
    padding: 0;
}

#menu-principal ul li {
    float: left;
    /*margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;*/
}

#menu-principal a {
    color: #ffffff;
    text-decoration: none; /* tira o sublinhado dos links */
    padding: 10px 15px;
    display: block;
    font-weight: bold;
}

.link-sel {
    background-color: rgb(148, 22, 17);
}

#menu-principal a:hover {
    background-color: #5B666D;
}

footer {
    background-color: rgb(74, 85, 92);
    border-top: 2px solid rgb(176, 17, 22);
    margin: 0 -5vw;
    padding: 10px;
    clear: both;
    color: #fff;
    font-size: 90%;
}

footer p {
    text-align: center;
}

footer a {
    color: yellow;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a {
    color:  #B0B0B0;
    text-decoration: none;
}
p{
    text-align: justify;
}

h4{
    margin-bottom: 0px;
}

#predio{
    background-color: #dddddd;
    border: 8px solid #dddddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    width: 30%;
}